<main>
  <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
  <%= @inner_content %>
</main>
