<main id>
  <.live_component module={LiveBeatsWeb.LayoutComponent} id="layout" />

  <%= if @current_user do %>
    <%= live_render(@socket, LiveBeatsWeb.PlayerLive, id: "player", session: %{}, sticky: true) %>
  <% end %>

  <.flash flash={@flash} kind={:info}/>
  <.flash flash={@flash} kind={:error}/>

  <%= @inner_content %>
</main>
